
*.log
.DS_Store
wp-config.php
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/plugins/akismet/
wp-content/plugins/wp-user-avatar/
wp-content/plugins/postmatic-social-commenting/
wp-content/plugins/contact-form-7/
wp-content/uploads/
wp-content/themes/twentysixteen/
index.php
/index.php
/.htaccess
/sitemap.xml
/sitemap.xml.gz
